<!--
    This view will show whatever the ArticlesController#show method has to show
-->

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
    <!--
        the 'render' will iterate over each comment in the @article.comments
         which it names 'comment' and passes to the partial with the same name.
    -->
    <%= render @article.comments %>
<% end %>

<h2>Add a comment:</h2>

<!-- the @article inst. variable is available to all the partials renderd in this view -->
<%= render "comments/form" %>

<%= link_to 'Back', articles_path %>
| <%= link_to 'Edit', edit_article_path(@article) %>